<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Device Lists</title>
</head>
<body>
<h3>Single First Object</h3>
{{ singlefirstObj.id }} - {{ singlefirstObj.name }} - {{ singlefirstObj.price }}

<h4>Single Last Object</h4>
{{ singleLastObj.id }} - {{ singleLastObj.name }} - {{ singleLastObj.price }}
<h3>Input price range...</h3>
<div>
    <form method="get">
        <input name='price1' value="{% if price1 %}{{ price1 }}{% else %}{{ 0 }}{% endif %}"> -
        <input name='price2' value="{% if price2 %}{{ price2 }}{% else %}{{ 100000 }}{% endif %}">
        <h5>Exclude</h5>
        <input name="price3" value="{% if price3 %}{{ price3 }}{% else %}{{ 0 }}{% endif %}">
        <button type="submit"> 查詢 </button>
    </form>
</div>


<h3> Original Results </h3>
<h4> 共有 {{ originsCount }} 筆 數據</h4>
<ul>
    {% for origin in origins %}
        <li>
            {{ forloop.counter }} - id = {{ origin.id }} - {{ origin.name }} - {{ origin.price }}
        </li>
    {% endfor %}
</ul>
<h3> Search Results </h3>
<h4> 共有 {{ resultsCount }} 筆 數據</h4>
    <ul>
    {% for device in results %}
        <li>
            {{ device.id }} - {{ device.name }} - {{ device.price }}
        </li>

    {% endfor %}
    </ul>
</body>
</html>